<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express EJS Example</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="px-[100px] py-[100px] bg-gray-200">
    <h2 class="text-center text-4xl bg-blue-300 py-[30px] px-[20px] rounded-md">
      Pakistan News
    </h2>
    <ul class="mt-2 text-xl">
      <% news.forEach(news=> { %>
      <li class="">
        <div class="w-[200px] bg-gray-300 py-2 text-center rounded-md">
          <%= news.source.name %>
        </div>
        <div class="my-4 py-[10px] px-[20px] w-full bg-green-50 rounded-md">
          <%= news.title %>
        </div>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
